[submodule "toolbox/resources/assets/mujoco_menagerie"]
	path = toolbox/resources/assets/mujoco_menagerie
	url = https://github.com/deepmind/mujoco_menagerie.git
[submodule "mujoco_pyc"]
	path = mujoco_pyc
	url = https://github.com/terry97-guel/mujoco_pyc.git
